<div class="center_title_bar">Produk {{data[0].InfoKatBarang[0].NamaKategoriBarang}}</div>
<div class="prod_box" *ngFor="let item of data">
  <div class="top_prod_box"></div>
  <div class="center_prod_box">
    <div class="product_title"><a href="details.html">{{item.InfoMerkBarang[0].NamaMerkBarang}}</a></div>
    <div class="product_img"><a href="details.html"><img  src="../assets/images/{{item.GambarBarang}}" alt="" border="0" /></a></div>
    <div class="prod_price"><span class="price">{{item.HargaBarang | currency:"IDR"}}</span></div>
  </div>
  <div class="bottom_prod_box"></div>
  <div class="prod_details_tab">
    <a href="#" title="header=[Add to cart] body=[&nbsp;] fade=[on]">
      <img src="../assets/images/cart.gif" alt="" border="0" class="left_bt" />
    </a> 
    <a href="#" title="header=[Specials] body=[&nbsp;] fade=[on]">
      <img src="../assets/images/favs.gif" alt="" border="0" class="left_bt" />
    </a>
    <a href="#" title="header=[Gifts] body=[&nbsp;] fade=[on]">
      <img src="../assets/images/favorites.gif" alt="" border="0" class="left_bt" />
    </a> 
    <a [routerLink]="['/detail/'+item.KdBarang]" class="prod_details">details</a> 
  </div>
</div>