<div class="center_title_bar">Barang-Barang Jual</div>
<div class="prod_box" *ngFor="let item of data">
  <div class="top_prod_box"></div>
  <div class="center_prod_box">
    <div class="product_title"><a [routerLink]="['/detail/'+item.KdBarang]">{{item.InfoMerkBarang[0].NamaMerkBarang}}</a></div>
    <div class="product_img"><a [routerLink]="['/detail/'+item.KdBarang]"><img  src="../assets/images/{{item.GambarBarang}}" alt="" border="0" /></a></div>
    <div class="prod_price"><span class="price">{{item.HargaBarang | currency:"IDR"}}</span></div>
  </div>
  <div class="bottom_prod_box"></div>
  <div class="prod_details_tab">
    <a [routerLink]="['/detail/'+item.KdBarang]" class="prod_details right_bt">details</a> 
  </div>
</div>